In [ ]:
contador = 1 
print (contador)
while contador < 10: #cuando nuestro contador valga menos a 100 para, sino sigue
  contador += 1 #+= para reemplzarar contador = contador +1 
  print (contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#version reducida, pero usando for, y rango. 
for contador in range (11):
  print (contador)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
a = list (range(100)) #hacemos una lista de lo anterior y lo pones en una variable
print (a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
for contador in range (1,11):
  print (contador) #le indicamos que imprima los numeros desde el 1, no desde el cero, al 11 que seria 10

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (10): #tabla 
  print (11*i)

0
11
22
33
44
55
66
77
88
99

In [ ]:
#recorremos un STRING con FOR

In [ ]:
#con ctrl c detenemos el programa
def run():
  # nombre = input ("por favor ingrese su nombre: ")
  # for letra in nombre: 
  #   print (letra)
  # frase = input ('escriba una frase: ')
  # for caracter in frase:   
  #   print (caracter.upper()) #por cada caracter ingresado, imprimilo pero en mayuscula
  
  #sin salto de linea
  frase = input ('escriba una frase: ')
  for caracter in frase:   
    print (caracter.upper(), end = '') #por cada caracter ingresado, imprimilo pero en mayuscula




if __name__ == "__main__":
  run ()

escriba una frase: hola a todos
HOLA A TODOS

PRACTICAMOS: interrumpir **ciclos** (usando **While, For** que nos permiten recorrer una función, y si usamos IF, colocar una condición determinada).
Como interrumpimos un programa con **continue | break**:

In [ ]:
def run():
  # for contador in range (10):
  #   if contador % 2 != 0:        #si contador al dividir con 2 y el resto es dif 0
  #       continue
  #   print (contador)
    
  #con esto le decimos al programa que pare cuando este en 55
  # for i in range (99):
  #   print (i)
  #   if i == 55:
  #     break 
  
  #en este caso vemos como se imprime hasta que aparece la letra O! CORTA el ciclo
  # texto = input ("escribe un texto: ")
  # for letra in texto: 
  #   if letra == 'o':
  #     break 
  #   print (letra)
  

#  palabras= []
#  palabra = input ("ingrese una palabra")
#  for palabra in palabras:
#    if palabra == 'a':
#      break 

  # nombre = input ("por favor ingrese su nombre: ")
  # for letra in nombre: 
  #   print (letra)
  # frase = input ('escriba una frase: ')
  # for caracter in frase:   
  #   print (caracter.upper()

## Práctico el uso de LISTAS, accediendo a ellas por su posición *recordar: siempre contar desde el 0123..

In [ ]:
letras = ['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
letras [3]

'd'

# Usamos append para agregar un elemento, a la lista creada
cuando usamos pop eliminamos elemento especifico
*recordar: 
#**.append (*elemento a agregar*)
#.pop (*posicion del elemento a eliminar*)**

In [ ]:
letras.append('hola') #Le estoy agregando un nuevo elemento a la lista original

In [ ]:
letras #veo como quedo

['a', 'b', 'c', 'd', 'e', 'f', 'hola']

In [ ]:
letras.append('borrame') #Le agrego otro elemento

In [ ]:
letras

['a', 'b', 'c', 'd', 'e', 'f', 'hola', 'borrame']

In [ ]:
letras.pop(3)

'd'

In [ ]:
letras

['a', 'b', 'c', 'e', 'f', 'hola', 'borrame']

In [ ]:
for letra in letras: #IMPRIMIS CADA ELEMENTO, desde una lista----
  print (letra)

a
b
c
e
f
hola
borrame

In [ ]:
#listas al reves
letras [::-1]

['borrame', 'hola', 'f', 'e', 'c', 'b', 'a']

In [ ]:
#en las listas podemos tener un str como un bools
palabras = ['7', '7 ', '7', True]

In [ ]:
palabras [3]

True

In [ ]:
#Una pregunta muy recurrente en entrevistas para posiciones de desarrollador en Python, es ¿Cuál es la diferencia entre lista y tupla? 
#R.- Las Tuplas son inmutables y las listas pueden añadir nuevos elementos y la otra diferencia es que el procesamiento de una tupla es más rápido que el de una lista.

##TUPLAS: se diferencia de las listas porque no se le pueden agregar elementos nuevos, pero son mas rápidas de procesarlas. Por eso se dice que son "estáticas" y las listas "dinámicas". y usamos parentesis ()

In [ ]:
#TUPLAS

In [ ]:
palabras = ('hola', 'funcionar', 'objetos')

In [ ]:
for palabra in palabras: #USAMOS EL FOR y recorremos las palabras que tiene la tupla creada en la celda de arriba
  print (palabra)

hola
funcionar
objetos

In [ ]:
def run ():
  mi_diccionario= {'Luegar de residencia': 1,
                   'años': 2,
                   'profesión': 3,
                   'sexo': 4
                   }
  #imprimir diccionario sus valores, desde las llaves!
  print (mi_diccionario['Luegar de residencia'])
  print (mi_diccionario['años'] )
  
  #vemos las llaves, recorremos con for
  for datos in mi_diccionario.keys():
    print(datos)

  #con items veo todo completo 
  for datos in mi_diccionario.items():
    print (datos)

  #solo los valores:
  for datos in mi_diccionario.values():
    print (datos)
  


if __name__ == '__main__':
  run()

1
2
3
4

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
mi_dict= {'Luegar de residencia': ['Ar', 'Mx', 'Fr', 'Col', 'Irl'],
                   'años': [18,20,11,88, 44],
                   'trabajo': ['independiente','empresa privada', 'sector pub.', 'mixto', 'otros'],
                   'sexo': ['female', 'male', np.nan, 'trans', 'binario']
                 }

# DataFrame: para hacer un dataframe de un diccionario nuevo creado recordar poner los mismos elementos para cada llave, en caso de que usemos lista

**Ejemplo: **
si en la primer llave pongo lugar de residencia, y pongo 5 paises, lo demas tiene que tener 5 elementos, en caso de ausencia de dato poner np.nan (primero importar libreria numpy, como hicimos con la de pandas)

In [ ]:

df = pd.DataFrame (mi_dict)
df

  Luegar de residencia  años          trabajo     sexo
0                   Ar    18    independiente   female
1                   Mx    20  empresa privada     male
2                   Fr    11      sector pub.      NaN
3                  Col    88            mixto    trans
4                  Irl    44            otros  binario